<div>
  <h1>
    <%= link_to "Larson One", profile_path %>
  </h1>
</div>
<div>
  <p>Mehdi_Cherche_Pas</p>
  <p>Jess_filou</p>
  <p>Anis_Dz_de_Grignard</p>
  <p>Nounours_Palpal</p>
</div>
<div>
<p>Chaise De Burreau</p>

</div>
